@font-face {
    font-family: 'Mak';
    src: url('subset-Mak-Bold.woff2') format('woff2'),
    url('subset-Mak-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mak';
    src: url('subset-Mak-Light.woff2') format('woff2'),
    url('subset-Mak-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

main {
    padding-bottom: 3vw;
}

.container_basket {
    width: 84.375vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.container_basket h1 {
    text-align: center;
    font-family: "Mak Light";
    font-size: 2.3vw;
}

.container_basket_product {
    padding-top: 2vw;
}

.top {
    display: flex;
    width: 84.375vw;
}

.container_basket_product h3 {
    text-align: center;
    font-family: Mak;
    font-weight: normal;
    font-size: 1.3vw;
}

.top {
    padding-top: 3vw;
}

.top .center {
    padding-left: 1.5vw;
}

.top .center {
    padding-left: 35vw;
}

.end {
    padding-left: 34vw;
}

hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    width: 100%;
}

.basket_product {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

.basket_product_one {
/    background: rgba(255, 0, 0, 0.23);
    display: flex;
    padding-bottom: 1.5vw;
}

.img_wost img {
    width: 13.021vw;
}

.menu_one {
    padding-left: 1vw;
}

.menu_one_top {
/    background: rgba(208, 255, 0, 0.23);
}

.menu_one_top h2 {
    font-family: Montserrat;
    font-size: 1.5vw;
    font-weight: normal;
}

.menu_one_top h4 {
    font-family: Mak;
    font-size: 1.2vw;
    padding-top: 1vw;
}

.menu_one_top h5 {
    font-family: Montserrat;
    font-size: 1vw;
    padding-top: 0.7vw;
}

.info_text {
    display: flex;
}

.info_text_left h3 {
    text-align: left;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 1vw;
    padding-top: 0.55vw;
}

.info_text_left p {
    text-align: left;
    font-family: Montserrat;
    font-weight: normal;
    color: #3D3C3C;
    padding-left: 1vw;
    padding-top: 0.5vw;
    font-size: 1vw;
}

.praise {
    margin: auto;
}

.all {
    display: flex;
    margin: auto;
}

.all h2 {
    font-size: 1vw;
}

.all img {
    margin-top: 0.3vw;
    height: 0.8vw;
}

.design_flex {
    display: flex;
}

.design {
    text-align: end;
    padding-top: 1.5vw;
    padding-right: 9.7vw;
}

#myBtnDesign {
    border: 1px solid black;
    font-size: 1.3vw;
    padding: 0.5vw 2vw 0.5vw 2vw;
}

.summ p {
    font-family: Mak;
    font-weight: bold;
    font-size: 2.5vw;
    text-align: end;
}

.modal {
    padding-top: 1.5vw;

}

.center_one {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .container_basket_product_mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .container_basket_product {

    }

    .basket_product {
        display: none;
    }

    .design {
        display: none;
    }

    .container_basket_product_mobile {

    }

    .mobile_basket {
        padding-top: 1em;
        display: flex;
        padding-bottom: 2vw;
    }

    .img_mobile_basket img {
        width: 37.5vw;
    }

    .mobile_basket_info {
        padding-left: 3vw;
    }

    .mobile_basket_info h2 {
        font-size: 3.3vw;
    }

    .number_basket h3 {
        font-size: 2em;
        font-family: Mak;
        padding-right: 4vw;
        margin: auto;
    }

    .number_basket {
        padding-top: 1.5em;
        display: flex;
    }

    .info_basket {
        padding-top: 1.5em;
    }

    .mobile_basket_info h4 {
        font-size: 4vw;
    }

    .info_text_left h3 {
        font-size: 3vw;
    }

    .info_text_left p {
        font-size: 3vw;
    }

    .basket_click {
        padding-top: 2em;
        display: flex;
        justify-content: end;
    }

    .basket_click h4 {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 3vw;
    }

    .basket_click p {
        font-size: 1.2em;
        font-family: Mak;
        padding-top: 0.2em;
        font-weight: bold;
    }

    .mobile_select {
        background: #f1efec;
        padding: 0.5em 0.8em 0.5em 0.8em;
    }

    .summ p {
        font-size: 1em;
    }

    #myBtnDesignMobile {
        border: 1px solid black;
        font-size: 1em;
        padding: 0.5vw 2vw 0.5vw 2vw;
    }

    .design_mobile {
        text-align: end;
        padding-top: 1.5vw;

    }

    .info_client {
        display: none;
        padding-top: 10vw;
    }
}

#in-check {

}
