@font-face {
    font-family: 'Mak';
    src: url('subset-Mak-Bold.woff2') format('woff2'),
    url('subset-Mak-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mak';
    src: url('subset-Mak-Light.woff2') format('woff2'),
    url('subset-Mak-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



/* Каталог меню */

.form_select_one {
    padding-left: 2vw;
}

select {
    background: #f1efec;
    border: none;

}

select option {

}

.select_mess {
    display: flex;
}

.from_select {
    padding-top: 2.5vw;
    padding-right: 6vw;
}

.download_position {
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 28.7vw;
}

h2 {
    text-align: center;
    font-family: Mak;
    font-size: 1.5vw;
    padding-top: 1vw;
}

@media (max-width: 767px) {
    h2 {
        font-size: 4vw;
    }

    .menu_hits div h1 {
        font-size: 6vw;
    }

    .select_mobile {
        font-size: 0.7em;
    }

    .select_mess {
        font-size: 1.5vw;
    }

    .form_select_one {

    }
}