/* Webfont: Mak-Bold */@font-face {
    font-family: 'Mak';
    src: url('../../fonts/Web/MAK-bold.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Web/MAK-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Web/MAK-bold.woff') format('woff'), /* Modern Browsers */
    url('fonts/Web/MAK-bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Mak-Light */@font-face {
    font-family: 'MakLight';
    src: url('../../fonts/Web/MAK.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Web/MAK.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Web/MAK.woff') format('woff'), /* Modern Browsers */
    url('fonts/Web/MAK.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



/* Каталог меню */

.form_select_one {
    padding-left: 2vw;
}

select {
    background: #f1efec;
    border: none;

}

select option {

}

.select_mess {
    display: flex;
}

.from_select {
    padding-top: 2.5vw;
    padding-right: 6vw;
}

.download_position {
    padding-bottom: 5vw;
}

h2 {
    text-align: center;
    font-family: "Mak Light";
    font-weight: normal;
    font-size: 1.5vw;
    padding-top: 1vw;
}