@font-face {
    font-family: 'Mak';
    src: url('subset-Mak-Bold.woff2') format('woff2'),
    url('subset-Mak-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mak';
    src: url('subset-Mak-Light.woff2') format('woff2'),
    url('subset-Mak-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.content_design {
    padding-top: 2vw;
    padding-bottom: 1vw;
    background: white;
    border: 1px solid black;
    width: 420px;
    margin-bottom: 2vw;
}

.all_info_modal {
    padding-left: 2vw;
    padding-right: 2vw;
}

.all_info_modal {
    padding-top: 34px;
    padding-left: 34px;
}

.all_info_modal h1 {
    font-family: Mak;
    font-weight: normal;
    font-size: 35px;
    padding-bottom: 30px;
}

.info_all {
    display: flex;
}

div p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 20px;
    padding-top: 10px;
}

.info_input {
    padding-left: 20px;
    padding-bottom: 30px;
}

.info_input input{
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 200px;
    padding-top: 15px;
}

.form-check-label {
    margin-left: 10px;
}

.form-check {
    padding-top: 10px;
}

.info_input_citi {
    padding-left: 48px;
    padding-bottom: 20px;
}

.info_input_citi input{
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 200px;
    padding-top: 12px;
}

.home_info {
    display: flex;
}

.home_input input {
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 130px;
    margin-right: 80px;
    padding-top: 5px;
}

.comment_input {
    padding-top: 20px;
}

.comment_input input {
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 300px;
    padding-top: 10px;
}

.summ_num {
    font-family: Mak;
    padding-top: 30px;
}

.button_shop h3 {
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    float: right;
    margin-top: 20px;
}